<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RaiseLearn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCAD33AF1EF2283B00F24C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCAD33C81EF2283B00F24C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCAD33D31EF2283B00F24C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
